In [3]:
import numpy as np
import matplotlib as plt
import pandas as pd
import sklearn

1-

In [4]:
data = pd.read_csv('train.csv')

تابع زیر به ما اطلاعات کلی دیتا را میدهد

In [5]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29825 entries, 0 to 29824
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             29825 non-null  int64
 1   workclass       28154 non-null  object
 2   fnlwgt          29825 non-null  int64
 3   education       29825 non-null  object
 4   education-num   29825 non-null  int64
 5   marital-status  29825 non-null  object
 6   occupation      28149 non-null  object
 7   relationship    29825 non-null  object
 8   race            29825 non-null  object
 9   sex             29825 non-null  object
 10  capital-gain    29825 non-null  int64
 11  capital-loss    29825 non-null  int64
 12  hours-per-week  29825 non-null  int64
 13  native-country  29288 non-null  object
 14  salary          29825 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.4+ MB
None

توابع زیر به ترتیب ابتدا و انتهای دیتا را نشان میدهند

In [ ]:
print(data.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [ ]:
print(data.tail())

       age  workclass  fnlwgt     education  education-num  \
29820   48  Local-gov  127921     Bachelors             13
29821   32    Private   42617  Some-college             10
29822   47  Local-gov  191389       HS-grad              9
29823   38    Private  187983   Prof-school             15
29824   18    Private  215110       HS-grad              9

           marital-status         occupation   relationship   race     sex  \
29820  Married-civ-spouse     Prof-specialty        Husband  White    Male
29821            Divorced     Prof-specialty  Not-in-family  White  Female
29822            Divorced       Adm-clerical      Unmarried  White  Female
29823  Married-civ-spouse              Sales           Wife  White  Female
29824       Never-married  Handlers-cleaners      Own-child  Black    Male

       capital-gain  capital-loss  hours-per-week native-country salary
29820             0             0              40  United-States  <=50K
29821             0             0              30  United-States  <=50K
29822             0             0              35  United-States  <=50K
29823             0             0              40  United-States  <=50K
29824             0             0              40  United-States  <=50K

تابع زیر نیز اطلاعات کلی هر سطر مانند میانگین واریانس و غیره را میدهد

In [ ]:
print(data.describe())

                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  29825.000000  2.982500e+04   29825.000000  29825.000000  29825.000000
mean      38.581425  1.897389e+05      10.079229   1094.586052     86.476513
std       13.652005  1.053738e+05       2.571678   7485.908646    401.195078
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178490e+05       9.000000      0.000000      0.000000
50%       37.000000  1.785170e+05      10.000000      0.000000      0.000000
75%       48.000000  2.368790e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count    29825.000000
mean        40.434334
std         12.308174
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [11]:
data.sex = data.sex.astype('category').cat.codes
print(data.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race  sex  \
0       Never-married       Adm-clerical  Not-in-family  White    1
1  Married-civ-spouse    Exec-managerial        Husband  White    1
2            Divorced  Handlers-cleaners  Not-in-family  White    1
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    1
4  Married-civ-spouse     Prof-specialty           Wife  Black    0

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K